<!DOCTYPE html>
<html>
  <head>
    <title>Starmory - Flexible Starfinder Armory</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css"
          crossorigin="anonymous" />

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue" defer></script>
    <script src="/javascripts/app.js" defer></script>
  </head>
  <body>
    <div class="native-container loading" id="loader" v-if="loading">
      Loading....
    </div>

    <main class="native-container" id="app-body" v-if="!loading">
        <header class="nav">
          <div class="nav-top top-bar">
            <div class="top-bar-left">
              <ul class="menu">
                <li class="menu-text">Starmory</li>

                <li v-for="category in armory.getCategories()">
                  <a href="#" v-on:click="filter = {category: category}">{{ mutate.capitalize( category ) }}</a>
                </li>
              </ul>
            </div>
          </div>

          <div class="nav-sub" v-if="filter.category">
            <div class="top-bar-left">
              <ul class="menu">
                <li v-for="subcategory in armory.getSubcategories( filter )">
                  <a href="#" v-on:click="updateFilter({subcategory: subcategory})">{{ mutate.capitalize( subcategory ) }}</a>
                </li>
              </ul>
            </div>
          </div>
        </header>

        <section class="items">
          <table class="table-items">
            <thead>
              <tr>
                <th>Name</th>
                <th v-for="property in armory.getProperties( filter )" v-if="!property.startsWith('_')">
                  {{ mutate.capitalize( property ) }}
                </th>
              </tr>
            </thead>

            <tbody>
              <tr v-for="(item, name) in armory.getItems( filter )">
                <td>{{ mutate.capitalize( name ) }}</td>
                <td v-for="(value, prop) in item" v-if="!prop.startsWith('_')">{{ mutate.humanize( prop, value ) }}</td>
              </tr>
            </tbody>
          </table>
        </section>
    </main>
  </body>
</html>
