<!DOCTYPE html>
<html>
  <head>
    <title>Starmory - Flexible Starfinder Armory</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css"
          crossorigin="anonymous" />

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash"></script>
  </head>
  <body>
    <div class="fluid" id="loader" v-if="loading">
      <p>Loading....</p>
    </div>

    <main class="fluid" id="app-body" v-if="!loading">
        <header class="nav">
          <div class="nav-top top-bar">
            <div class="top-bar-left">
              <ul class="menu">
                <li class="menu-text">Starmory</li>

                <li v-for="category in armory.getCategories()">
                  <a href="#" v-on:click="filter = {category: category}">{{ mutate.capitalize( category ) }}</a>
                </li>
              </ul>
            </div>

            <input v-model.trim="search" placeholder="Search..." v-on:keyup.enter="updateFilter({name: search})">
          </div>

          <div class="nav-sub" v-if="filter.category">
            <div class="top-bar-left">
              <ul class="menu">
                <li v-for="subcategory in armory.getSubcategories( filter )">
                  <a href="#" v-on:click="updateFilter({subcategory: subcategory})">{{ mutate.capitalize( subcategory ) }}</a>
                </li>
              </ul>
            </div>
          </div>
        </header>

        <section class="items">
          <table class="table-items">
            <thead>
              <tr>
                <th v-for="property in armory.getProperties( filter )" v-if="!property.startsWith('_')"
                    v-on:click="updateFilter({sort: [property]})">
                  {{ mutate.capitalize( property ) }}
                  <span v-if="filter.sort && filter.sort[0] === property">v</span>
                </th>
              </tr>
            </thead>

            <tbody>
              <tr v-for="(item, name) in armory.getItems( filter )">
                <td v-for="(value, prop) in item" v-if="!prop.startsWith('_')" :class="prop === 'type' ? item.type : ''">
                  {{ mutate.humanize( prop, value ) }}
                </td>
              </tr>
            </tbody>
          </table>
        </section>
    </main>

    <script src="https://unpkg.com/vue"></script>
    <script src="/javascripts/app.js"></script>
  </body>
</html>
