<!DOCTYPE html>
<html>
  <head>
    <title>Starmory - Flexible Starfinder Armory</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css"
          crossorigin="anonymous" />

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash"></script>
  </head>
  <body>
    <div class="fluid text-center" id="loader" v-if="loading">
      <div class="callout large" style="border: none">
        <h3>Loading items...&nbsp;&nbsp;&nbsp;<i class="fa fa-hourglass fa-spin"></i></h3>
      </div>
    </div>

    <main class="fluid" id="app-body" style="display: none" v-bind:style="{display: loading ? 'none' : 'block'}">
        <header class="nav">
          <div class="nav-top top-bar">
            <div class="top-bar-left">
              <ul class="menu">
                <li class="menu-text">Starmory</li>

                <li v-for="category in armory.getCategories()">
                  <a href="#" v-on:click="filter = {category: category}">
                    {{ mutate.capitalize( category ) }}
                  </a>
                </li>
              </ul>
            </div>

            <div class="top-bar-right" v-if="filter.category">
              <ul class="menu">
                <li>
                  <input type="search" v-model.trim="search" placeholder="Search..."
                         v-on:keyup.enter="updateFilter({name: search})">
                </li>

                <li>
                  <a href="#" v-on:click="filterOpen = !filterOpen">Filter</a>
                </li>
              </ul>
            </div>
          </div>

          <div class="nav-sub" v-if="filter.category">
            <div class="top-bar-left">
              <ul class="menu">
                <li v-for="subcategory in armory.getSubcategories( filter )">
                  <a href="#" v-on:click="updateFilter({subcategory: subcategory})" v-if="filter.subcategory !== subcategory">
                    {{ mutate.capitalize( subcategory ) }}
                  </a>

                  <div class="menu-text" v-if="filter.subcategory === subcategory">
                    {{ mutate.capitalize( subcategory ) }}
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </header>

      <div class="content grid-x">
        <section class="filter small-order-1 medium-2 medium-order-2 callout" v-if="filterOpen">
            <h4>Filter</h4>

            <p>Nothing here yet, just use search</p>
        </section>

        <section class="splash" v-if="!filter.category">
          <div class="grid-container text-center">
            <h3>Starmory</h3>

            <p class="lead">
              Welcome to the Starmory, a dynamic list of Starfinder weapons.
            </p>

            <p>
              Select a category from the navigation bar above to begin browsing. Use the subcategories and filters to
              narrow your search.
            </p>
          </div>
        </section>

        <section class="items medium-auto" v-if="filter.category">
          <table class="table-items ">
            <thead>
              <tr>
                <th></th>
                <th v-for="property in armory.getProperties( filter )" v-if="!property.startsWith('_')"
                    v-on:click="updateSort( property )">
                  {{ mutate.capitalize( property ) }}
                  <span v-if="filter.sort && filter.sort[0] === property">
                    <i class="fa"
                       v-bind:class="{'fa-caret-up' : filter.order[0] === 'asc', 'fa-caret-down' : filter.order[0] === 'desc'}">
                    </i>
                  </span>
                </th>
              </tr>
            </thead>

            <tbody>
            <template v-for="item in armory.getItems( filter )">
              <tr v-on:click="expandItem( item )">
                <td>
                  <i class="fa"
                     v-bind:class="{'fa-caret-down' : !isExpanded( item ), 'fa-caret-up' : isExpanded( item )}"></i>
                </td>
                <td v-for="(value, prop) in item" v-if="!prop.startsWith('_')" :class="prop === 'type' ? getItemClass( item ) : ''">
                  {{ mutate.humanize( prop, value ) }}
                </td>
              </tr>
              <tr v-if="isExpanded( item )">
                <td class="description" is="item-description" :item="item"></td>
              </tr>
            </template>
            </tbody>
          </table>
        </section>
      </div>
    </main>

    <script src="https://unpkg.com/vue"></script>
    <script src="/javascripts/app.js"></script>
  </body>
</html>
