body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: #00B7FF

main
  display: none

table
  width: 100%

tr
  width: 100%

header
  position: fixed
  width: 100%
  top: 0
  z-index: 10

//.content
//  position: relative

.table-items thead
  border: none

.template-header
  opacity: 0

.fixed-header
  position: fixed
  background: #f8f8f8
  border: 1px solid #f1f1f1
  z-index: 4

.item-bar, .fixed-header
  cursor: pointer

.nav-sub
  background: #d4d4d4

.splash
  width: 100%
  margin: auto
  margin-top: 1in !important


td.description
  background: #ffffff
  border-bottom: 1px solid lightgray
  white-space: pre-wrap

// dropdown styles
li
  > ul
    display: none !important

  a:hover ~ ul, ul:hover
    display: inherit !important
    position: absolute
//
//li:hover > ul
//  display: inherit

.menu > li.dropdown
  cursor: pointer

  > a
    display: inline-block
    padding-right: 0

  > i
    opacity: 0.3

  > ul
    display: none !important
    background: #ffffff
    border: 1px solid lightgray
    z-index: 5

  &:hover > ul, > ul:hover
    display: inherit !important
    position: absolute


// type classes
.cryo, .cybernetics
  background: #d4e1ff

.flame, .petrol, .heavy, .biotech
  background: #ffe4d4

.laser, .explosive, .powered
  background: #ffd4d4

.plasma, .charges
  background: #e4d4ff

.projectile, .rounds, .light
  background: #d4ffd4

.shock, .shells
  background: #ffffd4

.sonic, .personal.upgrade
  background: #ffd4ff

.uncategorized, .grenade, .any
  background: #e9e9e9